---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    {% if post.banner_image %}
    <div class="banner-image">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}" 
        title="{{ post.title }}">
      <img 
          src="{{ "/assets/images/" | append: post.banner_image | prepend: site.baseurl | prepend: site.url }}" 
          alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h2 class="post-title">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ post.title }}
      </a>
    </h2>

    <p class="post-meta">
    <span class="post-date">
    {{ post.date | date: "%Y年%m月%d日" }}
    </span>
    </p>

    {{ post.excerpt }}
    </br>
    <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
      阅读全文 »
    </a>
  </article>
  {% endfor %}
  <!-- </br> -->
</div>

{% if paginator.total_pages > 1 %}
<ul style="list-style: none;">
  {% if paginator.previous_page %}
    <li><a class="mbtn" style="float:left;" href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">上一页</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li><a class="mbtn" style="float:right;" href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">下一页</a></li>
  {% endif %}
</ul>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>