.mbtn {
  background: #fff;
  padding: 20px 25px;
  line-height: 1.5em;
  position: relative;
  margin: 0 0px 40px 0;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom-width: 0px;

  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);

  -webkit-transition: all 0.40s ease-in-out;
  -moz-transition: all 0.40s ease-in-out;
  -ms-transition: all 0.40s ease-in-out;
  -o-transition: all 0.40s ease-in-out;

  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  -ms-border-radius: .2em;
  -o-border-radius: .2em;
  border-radius: .2em;
}

.mbtn:hover, .mbtn:focus {
  border-bottom-color: #fff;

  -webkit-transition: all 0.40s ease-in-out;
  -moz-transition: all 0.40s ease-in-out;
  -ms-transition: all 0.40s ease-in-out;
  -o-transition: all 0.40s ease-in-out;

  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

tr th{
  text-align: left;
  vertical-align:top;
  font-size: 18px;
  line-height: 1.6;
}

td{
  vertical-align:top;
  font-size: 18px;
  line-height: 1.6;
}
a {
  word-wrap: break-word;
}

pre{
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 14px;
}

pre{
  display: block;
  background-color: #333 ;
  color: #fff;
  padding: 20px;
  border: 1px solid #888 ;
  line-height: 1.5;
  margin-bottom: 11px;
  word-wrap: break-word;
}

.post-tags{
  text-decoration: none;
  background-color: #5e5e5e;
  color:#666;
  font-size:14px;
  background: #EEE;
  font-weight:normal;
  padding: .2em .6em .3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border-bottom: none;
}

#tag_cloud .post-tags{
  display: inline-block;
  margin-bottom: 0.7em;
  margin-right: 0.2em;
  font-size:16px;
}

a.post-tags:focus, a.post-tags:hover {
  border-bottom-color: transparent;
  background-color: #5e5e5e;
  color: #fff;
  cursor: pointer;
}

#tag_cloud{
  margin-top: 1.5rem;
}

.search{
 float:right;
 display: block;
 vertical-align: middle;
 margin-top: 10px;
 margin-bottom: 12px;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 color: rgb(85, 85, 85);
 background-color: rgb(255, 255, 255);
 background-image: none;
 border: 1px solid rgb(204, 204, 204);
 border-radius: 6px;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.search:focus{
  box-shadow: 0 0 8px #9ecaed;
  border: 1px solid #9ecaed;
}

.minput{
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 color: rgb(85, 85, 85);
 background-color: rgb(255, 255, 255);
 background-image: none;
 border: 1px solid rgb(204, 204, 204);
 border-radius: 6px;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.minput:focus{
  box-shadow: 0 0 8px #9ecaed;
  border: 1px solid #9ecaed;
}

.minput:focus.incorrect{
  box-shadow: 0 0 8px #E8A8A8;
  border: 1px solid #E8A8A8;
}

.input-color{
  width: 4em;
}

.color-block{
 background:#000000;
 border: 1px solid rgb(0, 0, 0);
 width: 80px;
 height: 30px;
}

.input-dex{
  width: 8em;
}

.google-analytics-button{
  margin-top: 10px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 20px;
  color: #5e5e5e;
  background-color: #fff;
  border-color: #bababa;
}

.previous-page{
  max-width: 49%;
}
.next-page{
  max-width: 49%;
}

::selection {
    background:#dddddd;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container{
  padding: 0px;
}

.header{
  margin-bottom: 0;
}

a {
  text-decoration: none !important
}

#job_seeking {
    position: absolute;
    right: 2em;
    top: 10em;
}

.alert-success {
  line-height: 1.5em;
}
