---
layout: default
---
<div class="post">

  {% if page.banner_image %}
  <div class="banner-image">
    <img style="margin-top:0px"
        src="{{ page.banner_image }}"
        alt="{{ page.banner_image_alt }}">
  </div>
  {% endif %}

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">
      <span class="post-date">
      {{ page.date | date: "%Y年%m月%d日" }}
      </span>
      <span style="margin-left:20px"></span>
      {% for tag in page.tags %}
        <a class="post-tags" href="{{site.baseurl}}/tags/?tag={{tag | cgi}}">{{ tag }}</a>
      {% endfor %}
    </p>
  </header>
  <hr>
  <article class="post-content">
    {{ content }}
  </article>
</div>

<ul style="list-style: none;">
  {% if page.previous %}
    <li><a class="mbtn previous-page" style="float:left;" href="{{page.previous.url }}">&lt; {{page.previous.title}}</a></li>
  {% endif %}
  {% if page.next %}
    <li><a class="mbtn next-page" style="float:right;" href="{{page.next.url }}">{{page.next.title}} &gt;</a></li>
  {% endif %}
</ul>
