---
layout: default
---
<div class="post">

  {% if page.banner_image %}
  <div class="banner-image">
    <img 
        src="{{ "/assets/images/" | append: page.banner_image | prepend: site.baseurl | prepend: site.url }}" 
        alt="{{ page.banner_image_alt }}">
  </div>
  {% endif %}

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">
      <span class="post-date">
      {{ page.date | date: "%Y年%m月%d日" }}
      </span>
    </p>
  </header>
  <hr>
  <article class="post-content">
    {{ content }}    
  </article>
</div>

<ul style="list-style: none;">
  {% if page.previous %}
    <li><a class="mbtn" style="float:left;" href="{{page.previous.url | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">&lt; {{page.previous.title}}</a></li>
  {% endif %}
  {% if page.next %}
    <li><a class="mbtn" style="float:right;" href="{{page.next.url | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">{{page.next.title}} &gt;</a></li>
  {% endif %}
</ul>