---
layout: default
---
<h4>{{ page.title }}</h4>
<span class="date">{{ page.date | date: "%Y年%m月%d日" }}</span><span style="margin-left:20px"></span>
{% for tag in page.tags %}
<a class="label label-default label-tags" href="{{site.baseurl}}/tags/?tag={{tag | cgi}}">{{ tag }}</a>
{% endfor %}
<hr/>

<div class="post">
{{ content }}
</div>

<hr/>
<ul class="pager">
	{% if page.previous %}
  	<li class="previous"><a href="{{page.previous.url}}">{{page.previous.title}}</a></li>
  {% endif %}
	{% if page.next %}
  	<li class="next"><a href="{{page.next.url}}">{{page.next.title}}</a></li>
  {% endif %}
</ul>